:root {
    --text-color: #757575;
    --header-color: #212121;
    --logo-color: #000000;
    --accent-color: #2196f3;
    --bg-color: #ffffff;
    --secondary-bg-color: #f5f4fa;
    --additional-bg-color: #2f303a;
    --additional-bg-color2: rgba(47, 48, 58, 0.8);
    --secondary-contact-color: rgba(255, 255, 255, 0.6);
    --separator-line-color: #ececec;
    --border-color: #eeeeee;
    --icon-color: #afb1b8;
    --box-shadow-color1: rgba(0, 0, 0, 0.15);
    --box-shadow-color2: rgba(0, 0, 0, 0.12);
    --box-shadow-color3: rgba(0, 0, 0, 0.14);
    --box-shadow-color4: rgba(0, 0, 0, 0.2);
    --box-shadow-color5: rgba(0, 0, 0, 0.1);
    --box-shadow-color6: rgba(0, 0, 0, 0.08);
    --box-shadow-color7: rgba(0, 0, 0, 0.06);
    --box-shadow-color8: rgba(0, 0, 0, 0.16);
    --gradient-color: rgba(47, 48, 58, 0.4);
    --secondary-icon-bg-color: rgba(255, 255, 255, 0.1);
    --overlay-bg-color: rgba(33, 155, 243, 0.9);
    --input-border-color: rgba(33, 33, 33, 0.2);
    --placeholder-color: rgba(117, 117, 117, 0.5);
    --timing: cubic-bezier(0.4, 0, 0.2, 1);
}

/* Основной текст */
body {
    font-family: Roboto, sans-serif;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    background-color: var(--bg-color);
    color: var(--text-color);
}

/* Обнуляем отступы */
h1,
h2,
h3,
p {
    margin: 0;
}

/* Убираем лишниее пространство под картинкой */
img {
    display: block;
}

/* ====== Шапка ====== */
.header {
    border-bottom: 1px solid var(--separator-line-color);
}

.header__container,
.section__container {
    width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__container,
.header__nav,
.list {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    padding: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    color: var(--logo-color);
    text-decoration: none;
}

.list,
.social-list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.header__list {
    margin-left: 94px;
}

.link {
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--header-color);
    text-decoration: none;

    transition: color 250ms var(--timing);
}

.logo__segment,
.link--current,
.link:hover,
.link:focus,
.footer__link--color:hover,
.footer__link--color:focus {
    color: var(--accent-color);
}

.link--current {
    position: relative;
}

.link--current::after {
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4px;
    margin: inherit;
    display: block;
    background-color: var(--accent-color);
    border-radius: 2px;
}

.link--right {
    margin-left: 50px;
}

.header__link {
    display: flex;
    align-items: center;
    color: var(--text-color);
}

.link__icon {
    margin-right: 10px;
    fill: currentColor;
}

/* ====== Заголовок ====== */
.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-position: center;
    margin: auto;
    padding: 200px 0;
    max-width: 1600px;
    color: var(--bg-color);
    background-color: var(--additional-bg-color);
    background-image: linear-gradient(var(--gradient-color), var(--gradient-color)),
        url(../images/background.jpg);
}

.hero__slogan {
    width: 696px;
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
}

.btn {
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: var(--bg-color);
    background: var(--accent-color);
    border-width: 0;
    border-radius: 4px;
    box-shadow: 0px 4px 4px var(--box-shadow-color1);
    cursor: pointer;
}

/* ====== Особенности (Преимущества) ====== */
.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.unvisible,
.form__checkbox {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.feature {
    width: 270px;
}

.feature__icon {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    padding: 25px 0;
    background-color: var(--secondary-bg-color);
    border-radius: 4px;
}

.feature__title {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--header-color);
}

/* ====== Чем мы занимаемся ======*/
.section--top {
    padding-top: 0;
}

.section__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    color: var(--header-color);
}

.actyvity {
    position: relative;
}

.activity__title {
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-transform: uppercase;
    background-color: var(--additional-bg-color2);
    color: var(--bg-color);
}

/* ====== Наша команда ====== */
.section--bg-color {
    background-color: var(--secondary-bg-color);
}

.team-card {
    padding-bottom: 30px;
    /* text-align: center; */
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-color);
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px var(--box-shadow-color2), 0px 1px 1px var(--box-shadow-color3),
        0px 2px 1px var(--box-shadow-color4);
}

.team-card__name {
    margin: 30px auto 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    color: var(--header-color);
}

.team-card__position {
    margin-bottom: 16px;
    font-size: 16px;
    line-height: 1.19;
    color: var(--text-color);
}

.social-list {
    width: 206px;
    display: flex;
    justify-content: space-between;
}

.social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 44px;
    width: 44px;
    color: var(--icon-color);
    border-radius: 50%;

    transition: color 250ms var(--timing), background-color 250ms var(--timing);
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);
    color: var(--bg-color);
}

.social-link__icon {
    fill: currentColor;
}

/* ====== Постоянные клиенты ====== */
.customer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 170px;
    height: 92px;
    color: var(--icon-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;

    transition: color 250ms var(--timing), border-color 250ms var(--timing);
}

.customer-link:hover,
.customer-link:focus {
    color: var(--accent-color);
    border-color: var(--accent-color);
}

.customer-link__icon {
    width: 106px;
    height: 60px;
    fill: currentColor;
}

/* ====== Подвал ====== */

.footer {
    background-color: var(--additional-bg-color);
}

.footer__container {
    display: flex;
    width: 1200px;
    margin: auto;
    padding: 60px 15px;
}

.footer__logo {
    padding: 0;
    color: var(--bg-color);
}

.footer__list {
    height: 81px;
    width: 231px;
    display: grid;
    align-content: space-between;
    margin-top: 20px;
    margin-bottom: 0;
    padding-left: 0;
    list-style: none;
    font-style: normal;
    color: var(--secondary-contact-color);
}

.footer__link {
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--bg-color);
    text-decoration: none;
}

.footer__link--color {
    color: var(--secondary-contact-color);
    transition: color 250ms var(--timing);
}

.social-link--color {
    color: var(--bg-color);
    background-color: var(--secondary-icon-bg-color);
}

.footer__social {
    margin-left: 70px;
    padding-top: 12px;
}

.footer__text {
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;
    color: var(--bg-color);
}

.footer__form {
    margin-left: 93px;
    padding-top: 12px;
}

.footer__thumb {
    display: flex;
    flex-direction: row;
}

.footer__input {
    width: 358px;
    margin-right: 12px;
    padding-left: 16px;
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: 0.03em;
    color: var(--secondary-contact-color);
    background-color: var(--additional-bg-color);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px var(--box-shadow-color1));
    border-radius: 4px;
}

.btn__icon--right {
    margin-left: 10px;
}

/* ====== Модальное окно ====== */

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--box-shadow-color4);

    opacity: 1;
    transition: opacity 250ms var(--timing), visibility 250ms var(--timing);
}

.backdrop--hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.backdrop--hidden .modal {
    opacity: 0.6;
    transform: translate(-50%, -50%) scale(0.4);
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 528px;
    height: 581px;
    background-color: var(--bg-color);
    box-shadow: 0px 1px 3px var(--box-shadow-color2), 0px 1px 1px var(--box-shadow-color3),
        0px 2px 1px var(--box-shadow-color4);
    border-radius: 4px;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms var(--timing), opacity 250ms var(--timing);
}

.form {
    padding: 40px;
}

.form__title {
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    color: var(--header-color);
}

.form__list {
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.form__box {
    position: relative;
    height: 58px;
    margin-bottom: 10px;
}

.form__label {
    position: absolute;
    height: 40px;
    width: 100%;
    bottom: 0;
    color: var(--header-color);

    transition: color 250ms var(--timing);
}

.form__text {
    position: absolute;
    top: -4px;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--text-color);
    transform: translateY(-100%);
}

.form__input {
    width: 100%;
    height: 100%;
    padding-left: 42px;
    color: var(--text-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    transition: border-color 250ms var(--timing);
}

.close-btn:hover,
.close-btn:focus,
.form__label:hover,
.form__label:focus,
.form__label:focus-within {
    color: var(--accent-color);
}

.form__label:hover .form__input,
.form__label:focus .form__input,
.form__label:focus,
.form__textarea:hover,
.form__textarea:focus {
    border-color: var(--accent-color);
    outline: none;
}

.form__icon {
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    fill: currentColor;
}

.form__comment-box {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}

.form__comment-label {
    display: block;
    margin-bottom: 4px;
}

.form__textarea {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    color: var(--placeholder-color);
    border: 1px solid var(--input-border-color);
    border-radius: 4px;
    resize: none;
    transition: border-color 250ms var(--timing);
}

.form__textarea:focus {
    color: var(--text-color);
}

.form__agreement {
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form__checkbox:checked + .form__check-icon {
    border-color: transparent;
    background-color: var(--accent-color);
    background-origin: border-box;
}

.form__check-icon {
    margin-right: 8px;
    fill: var(--bg-color);
    border: 2px solid var(--header-color);
    border-radius: 2px;
}

.form__link {
    color: var(--accent-color);
}

.btn--position {
    margin: 30px auto 0;
}

.close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    padding: 0;
    background-color: transparent;
    border: 1px solid var(--box-shadow-color5);
    border-radius: 50%;
    cursor: pointer;

    transition: color 250ms var(--timing);
}

.close-btn__icon {
    fill: currentColor;
}

/* ====== Портфолио ====== */


